*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'Museo-Sans', sans-serif;
  font-size: 1rem;
}

:root {
  --color-primary: #78a22f;
  --color-primary-lighten: #a6ce39;
  --color-primary-darken: #78a22f;
  --font-size-h4: 2.125rem;
  --font-size-h6: 1.25rem;
  --font-size-button: 0.876rem;
  --font-size-overline: 0.625rem;
  --font-size-subtitle-1: 1rem;
  --font-size-subtitle-2: 0.875rem;
}

.t1 {
  font-size: 6rem !important;
}

.t2 {
  font-size: 3.75rem !important;
}

.t3 {
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.t4 {
  font-size: 2.125rem !important;
  font-weight: 900 !important;
  line-height: 1.2 !important;
}

.t6 {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.4 !important;
}

.subtitle-1 {
  font-size: 1rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.subtitle-2 {
  font-size: 0.875rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.body-1 {
  font-size: 1rem !important;
}

.body-2 {
  font-size: 0.875rem !important;
}

.button {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

.caption {
  font-size: 0.75rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

.overline {
  font-size: 0.625rem !important;
}

.light {
  font-weight: 300 !important;
}

.normal {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.uppercase {
  text-transform: uppercase !important;
}
