/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-zhp-section {
  position: relative;
  max-width: 100%;
  &::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--section-overlay-background);
	content: "";
	opacity: var(--section-overlay-opacity);
  }
  &__content {
	position: relative;
	display: grid;
	grid-template-columns: repeat(12, minmax(auto, 1fr));
	column-gap: 1.25rem;
	max-width: 1140px;
	margin: auto;
  }
  .block-editor-block-variation-picker {
	max-width: 580px;
	margin: auto;
  }
  .dashicon {
	margin-right: 14.6602px;
  }
}

.components-section-height {
  display: flex;
  align-items: flex-end;
  .components-input-control {
	flex: 3;
	margin-right: 8px;
  }
  .components-base-control {
	flex: 1;
  }
  .components-base-control,
  .components-base-control__field {
	margin-bottom: 0!important;
  }
}
.components-section-boxmodel {
  margin: 24px 0;
  &__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 4px;
  }
  &__main {
	display: flex;
  }
  &__input {
	margin-right: 8px;
	&:last-child {
	  margin-right: 0;
	}
  }
}
