/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-zhp-column {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid;
}
