# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ CI_CD ]
  pull_request:
    branches: [ CI_CD ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - name: Login to Azure
            uses: azure/login@v1
            with:
              creds: ${{ secrets.AZURE_CREDENTIALS }}
          
          - name: Validate ARM
            uses: azure/arm-deploy@v1
            with:
              deploymentMode: Validate
              subscriptionId: 69111246-db23-463c-82b2-7815ed5f8a1a
              resourceGroupName: zhp-pl-wordpress-theme
              template: automation/deployment.arm.json
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Deploy ARM to Azure
        uses: azure/arm-deploy@v1
        with:
          deploymentMode: Complete
          subscriptionId: 69111246-db23-463c-82b2-7815ed5f8a1a
          resourceGroupName: zhp-pl-wordpress-theme
          template: automation/deployment.arm.json